$icon-font-path: "../bower_components/bootstrap-sass-official/vendor/assets/fonts/bootstrap/";
// bower:scss
@import "bootstrap-sass-official/vendor/assets/stylesheets/bootstrap.scss";
// endbower

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

/* Space out content a bit */
body {
  padding-top: 20px;
  padding-bottom: 20px;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

/* Custom page header */
.header {
  border-bottom: 1px solid #e5e5e5;

  /* Make the masthead heading the same height as the navigation */
  h3 {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 40px;
    padding-bottom: 19px;
  }
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;

  .btn {
    font-size: 21px;
    padding: 14px 24px;
  }
}

/* Supporting marketing content */
.marketing {
  margin: 40px 0;

  p + h4 {
    margin-top: 28px;
  }
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  .container {
    max-width: 730px;
  }

  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}

.tournaments {
  padding: 10px 0;

  li {
    a {
      font-size: $font-size-h4;
    }
    span {
      display: inline-block;
      float: right;
      font-size: $font-size-h5;
      color: $gray-light;
    }
  }
}

$main-padding: 10px;
$main-border: 1px solid #ccc;

.bordered-container {
  padding: $main-padding;
  border: $main-border;
}

.players-list {
  .name {
    display: inline-block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

.tournament {
  .name-edit-area {
    textarea.tournament-name {
      @extend .h1;
      width: 100%;
      height: 50px;
      border: none;
    }
    .tournament-name-edit-icon {
      font-size: $font-size-h1;
      margin-top: $line-height-computed;
      margin-bottom: ($line-height-computed / 2);
      opacity: 0.5;
    }
  }

  form.players {
    .player {
      padding: $main-padding 0 0 0;
    }
    .actions {
      padding: $main-padding 0;
    }
  }
  .tour {
    @extend .bordered-container;
  }

  .game {
    @extend .bordered-container;
    margin-bottom: $main-padding;

    .players {
      padding: 0 0 5px 0;

      .vs {
        font-size: $font-size-base + 2;
        font-style: italic;
        font-weight: bold;
      }

      .won {
        font-weight: bold;
      }
      .lost {
        opacity: 0.6;
      }
    }
  }
}

