$icon-font-path: "../bower_components/bootstrap-sass-official/vendor/assets/fonts/bootstrap/";
// bower:scss
@import "bootstrap-sass-official/vendor/assets/stylesheets/bootstrap.scss";
// endbower

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

/* Space out content a bit */
body {
  padding-top: 20px;
  padding-bottom: 20px;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

/* Custom page header */
.header {
  border-bottom: 1px solid #e5e5e5;

  /* Make the masthead heading the same height as the navigation */
  h3 {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 40px;
    padding-bottom: 19px;
  }
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;

  .btn {
    font-size: 21px;
    padding: 14px 24px;
  }
}

/* Supporting marketing content */
.marketing {
  margin: 40px 0;

  p + h4 {
    margin-top: 28px;
  }
}

.tournaments {
  padding: 10px 0;

  li {
    a {
      font-size: $font-size-h4;
    }
    span {
      display: inline-block;
      float: right;
      font-size: $font-size-h5;
      color: $gray-light;
    }
  }
}

$main-padding: 10px;
$main-border: 1px solid #ccc;

.bordered-container {
  padding: $main-padding;
  border: $main-border;
}

.tournament-players{
  margin-top: 69px;

  .players-list-header {
    font-weight: bold;
  }
  .players-list {
    .name {
      display: inline-block;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }
}


.tournament {
  .name-edit-area {
    textarea.tournament-name {
      @extend .h1;
      width: 100%;
      height: 50px;
      border: none;
    }
    .tournament-name-edit-icon {
      font-size: $font-size-h1;
      margin-top: $line-height-computed;
      margin-bottom: ($line-height-computed / 2);
      opacity: 0.5;
    }
  }

  form.players {
    .player {
//      padding: $main-padding 0 0 0;
    }
    .actions {
      padding: 0 0 $main-padding 0;
    }
  }
  .tour {
    @extend .bordered-container;
    position: relative;

    .white-locker {
      position: absolute;
      width: 100%;
      height: 100%;
      background: #fff;
      opacity: 0.5;
      z-index: 1;
      top: 0;
    }
  }

  .game {
    @extend .bordered-container;
    margin-bottom: $main-padding;

    .players {
      padding: 0 0 5px 0;

      .white {
        background: #000000;
        color: #ffffff;
      }

      .vs {
        font-size: $font-size-base + 2;
        font-style: italic;
        font-weight: bold;
      }

      .won {
        font-weight: bold;
      }
      .lost {
        opacity: 0.6;
      }
    }
  }
}

.label-white {
  @include label-variant(#fff);
  color: #ddd;
  border: 1px solid #ddd;
}

.label-black {
  @include label-variant(#222);
}

// ------- autocomplete --------

.angucomplete-holder {
  position: relative;

  .dropdown {
    border-color: #ececec;
    border-width: 1px;
    border-style: solid;
    border-radius: 2px;
    width: 250px;
    padding: 6px;
    cursor: pointer;
    z-index: 9999;
    position: absolute;
    /*top: 32px;
    left: 0px;
    */
    margin-top: -6px;
    background-color: #ffffff;

    .searching {
      color: #acacac;
      font-size: $font-size-base;
    }

    .angucomplete-description {
      font-size: 14px;
    }

    .angucomplete-row {
      padding: 5px;
//      color: #000000;
      margin-bottom: 4px;
      clear: both;
    }

    .angucomplete-selected-row, .angucomplete-row:hover {
      background-color: lightblue;
      color: #ffffff;
    }

    .angucomplete-image-holder {
      padding-top: 2px;
      float: left;
      margin-right: 10px;
      margin-left: 5px;
    }

    .angucomplete-image {
      height: 34px;
      width: 34px;
      border-radius: 50%;
      border-color: #ececec;
      border-style: solid;
      border-width: 1px;
    }

    .angucomplete-image-default {
      /* Add your own default image here
       background-image: url('/assets/default.png');
      */
      background-position: center;
      background-size: contain;
      height: 34px;
      width: 34px;
    }
  }
}








