<div class="game">
    <div class="row players">
        <div class="col-xs-5" ng-class="{ won: gsrv.is_player_1_won(), lost: gsrv.is_player_2_won() }"><span class="label label-white">white</span> {{ game.player1.name }}</div>
        <div class="col-xs-2 text-center vs">vs</div>
        <div class="col-xs-5 text-right black" ng-class="{ won: gsrv.is_player_2_won(), lost: gsrv.is_player_1_won() }">{{ game.player2.name }} <span class="label label-black">black</span></div>
    </div>
    <div class="row">
        <div class="col-xs-4">
            <button type="button" class="btn"
                    ng-class="gsrv.is_player_1_won() ? 'btn-success active' : 'btn-default'"
                    ng-hide="gsrv.is_game_ended() && !gsrv.is_player_1_won()"
                    ng-click="gsrv.player_1_won()">Won</button>
        </div>
        <div class="col-xs-4">
            <button type="button" class="btn center-block"
                    ng-class="gsrv.is_pat() ? 'btn-warning active' : 'btn-default'"
                    ng-hide="gsrv.is_game_ended() && !gsrv.is_pat()"
                    ng-click="gsrv.pat()">Pat</button>
        </div>
        <div class="col-xs-4">
            <button type="button" class="btn pull-right"
                    ng-class="gsrv.is_player_2_won() ? 'btn-success active' : 'btn-default'"
                    ng-hide="gsrv.is_game_ended() && !gsrv.is_player_2_won()"
                    ng-click="gsrv.player_2_won()">Won</button>
        </div>
    </div>
</div>