<div class="tour">
    <h3>Tour {{ tour.number }} <small ng-if="!last">Completed</small></h3>
    <div class="group" ng-repeat="group in tour.groups">
        <h3><small>Score Group - {{ group.name }}</small></h3>
        <game ng-repeat="game in group.games" ch-game="game"></game>
    </div>
    <button type="button" class="btn btn-lg btn-default" ng-disabled="!tourCompleted() || tourProccess || !last" ng-click="nextTour()">Complete tour {{ tour.number }}</button>
    <div class="white-locker" ng-if="!last"></div>
</div>