<div class="row">
    <!-- tornament not started yet -->
    <div class="col-xs-12 tournament" ng-if="!started()">
        <div class="row name-edit-area" ng-init="nameFocus=true">
            <div class="col-xs-10">
                <textarea class="tournament-name" name="name" cols="30" rows="10"
                          ng-model="tournament.name" focus-me="nameFocus"></textarea>
            </div>
            <div class="col-xs-2">
                <span class="glyphicon glyphicon-edit tournament-name-edit-icon" ng-click="nameFocus=true"></span>
            </div>
        </div>
        <players-form players="tournament.players"></players-form>
    </div>
    <!-- tournament started -->
    <div class="col-xs-12 col-md-4 tournament-players" ng-if="started()">
        <players-list tournament="tournament"></players-list>
    </div>
    <div class="col-md-8 tournament" ng-if="started()">
        <h1>{{ tournament.name }} <small>{{ tournament.year }}</small></h1>
        <tour ng-repeat="tourId in tournament.tours" tour-id="tourId" tournament-id="tournament.id" last="$last"></tour>
    </div>
</div>
